<form #f="ngForm" class="form-signin" (ngSubmit)="onSubmit(f)" novalidate>
  <img class="mb-4" src="https://getbootstrap.com/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputUser" class="sr-only">Username</label>
  <input id="inputUser" class="form-control" placeholder="Username" name="username" ngModel required #username="ngModel" autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" ngModel required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <div *ngIf="!loggedIn; else elseBlock">
    <button class="btn btn-lg btn-secondary btn-block" type="submit">Sign in</button>
    <button (click)="signInWithFB()" class="btn btn-lg btn-primary btn-block" type="button">Facebook</button>
    <button (click)="signInWithGoogle()" class="btn btn-lg btn-danger btn-block" type="button">Google</button>
  </div>
  <ng-template #elseBlock>
    <button (click)="signOut()" class="btn btn-primary btn-lg btn-block" type="button">Logout</button>
    <div class="w-100" *ngIf="loggedIn">
      <img src="{{ user.photoUrl }}">
      <div>
        <h4>{{ user.name }}</h4>
        <p>{{ user.email }}</p>
      </div>
    </div>
  </ng-template>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
</form>
